<div class="container justify-center w-25 my-5 border p-5 bg-info">
    <form class="form-group">
        <div class="form-group">
            <label>username:</label>
            <input type="email" placeholder="Phone No/Email" class="form-control" required>
        </div>
        <div class="form-group">
            <label>password:</label>
            <input type="number" placeholder="password" class="form-control"required>
        </div>
        <button type="button" routerLink="/cart" class="btn btn-primary mb-5">Log In</button>
        <p>create a new account? <a class="text-light" routerLink="/signup">signup</a></p>
    </form>
    
</div>

