<nav class="navbar navbar-expand-lg  bg-dark sticky-top">
    <a class="navbar-brand" routerLink="">Mobiles</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about" tabindex="-1" aria-disabled="true">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="products">Products</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-primary"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLinkActive="active" routerLink="/about/contact">contact</a>
            <a class="dropdown-item" routerLinkActive="active" routerLink="/about/services">services</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLinkActive="active" routerLink="/about/ourmission">Our Mission</a>
          </div>
        </li>
        
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <li class="nav-item nav">
        <a class="nav-link" routerLink="login">LogIn & SignUp</a>
      </li>
      <li class="nav-item nav">
        <a class="nav-link" routerLink="cart">Cart</a>
      </li>
    </div>
  </nav>